{% extends 'layout/base.twig'%}

{% block stylesheet %}
 <link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}
<main>
	<header>
		<div class="has-text-centered">
		<img src="/static/assets/images/aboutus/ab-1.jpg" alt="" width="145" height="auto">
	</div>
	</header>

</main>
 
{% endblock %}

