{% extends 'layout/base.twig'%}

{% block stylesheet %}
 <link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}
<main>
	<header>
		<div class="has-text-centered">
		<div class="container">
          <div class="columns">
            <div class="column has-text-left is-size-4">
              <div>ABOUT US</div>
            </div>
          </div>	
		<img src="https://f.ptcdn.info/487/053/000/ovwu2fhphAdeCdZ7LbZ-o.jpg" alt="" width="auto" height="auto">
		<div class="name has-text-weight-bold">รูปนี้ไม่มีความเกี่ยวข้องแต่อย่างใด</div>
	</div>
	</header>
	<section class="hero is-warning is-height">
  <div class="hero-body">
    <div class="container">
      <div class="title is-size-3">
        WHAT IT.com 
      </div>
      <h2 class="subtitle">
        เป็นเว็บสำหรับชาวIT รวมรวบข่าว บทความ บทวิเคราะห์ เรื่องน่าสนใจ เกี่ยวกับ IT ต่างๆไม่ว่าจะเป็นเรื่องเกี่ยวกับคอมพิวเตอร์ สมาร์ทโฟน เกม หนังดัง โดยทีมงานคุณภาพ และกลุ่มผู้ชอบท่องโลกITเป็นชีวิตจิตใจ เราเป็นเว็บน้องใหม่ แต่คนเขียนเป็นหน้าแก่ อิอิ
      </h2>

      <div class="content is-size-4 has-text-weight-bold">เว็บ WhatIT ต่างจากเว็บอื่นๆ ยังไง ?</div>
      <div class="columns is-two-thirds-table">
  <div class="column">นโยบายความไม่เป็นกลาง: เราไม่ใช่นักข่าว เนื้อหาจะเป็นแบบไม่เป็นทางการ และเราเชื่อในความไม่ต้องเป็นกลาง ขึ้นอยู่กับผู้เขียนแต่ละท่าน</div>
  <div class="column">เว็บสวยน่าอ่าน: WhatIT ได้รับการออกแบบโดย @Pluem สุดหล่อ</div>
  <div class="column">รีวิว: เราเส้นอุด้ง มีสินค้าให้ได้อ่านรีวิวกันไม่ขาดแน่นอน</div>
  <div class="column">สาวๆ: เพราะเราขาดแคลนพริ๊ตตี้ เราจึงมาเติมเต็มให้คุณได้ดูสาวๆ ทุกเดือน !!</div>

  
</div>
<div class="member is-size-4 has-text-left has-text-weight-bold">แนะนำทีมงาน WHAT IT</div>
<h5 class="name has-text-centered">@Pluemสุดหล่อ</h5>
<h5 class="name has-text-centered">@TorakunG </h5>
<h5 class="name has-text-centered">@WaiWai_HTZZZ</h5>
<h5 class="name has-text-centered">@JackyNORGATEN</h5>
<h5 class="name has-text-centered">@MA_Tle</h5>
<h5 class="name has-text-centered">@MouseColor</h5>
<h5 class="name has-text-centered">@ICEbiz</h5>
<h5 class="name has-text-centered">@T นามสมมุติ</h5>
<h5 class="name has-text-centered">@Hyper Tong123</h5>

    </div>
  </div>

</section>
<footer class="footer is-paddingless">
  	<div class="container">
    <div class="content has-text-centered">
   <br>
        <strong>WhatIT</strong> by <a href="http://jgthms.com">WIT Corporation.</a>.
        <br>
         Powered by Samsang Corporation.
        <br>
        Contact Us on
       <nav class="navbar-tabs is-paddingless">
       	<br>
       		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
       		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<figure class="image is-32x32">
				<a href="facebook" class="face.png">
			<img src="assets/icon/face.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="instagram" class="ig.png">
			<img src="assets/icon/ig.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="twiiter" class="twit.png">
			<img src="assets/icon/twi.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="www" class="www.png">
			<img src="assets/icon/www.png">
				</a>
			</figure>
			
			</nav>
  
    </div>

   
    ศูนย์ช่วยเหลือ
    <br>
    <br>
     <nav class="navbar-tabs">
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">ติดต่อเรา</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">เกี่ยวกับเรา</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">นโยบายความเป็นส่วนตัว</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">ข่าวประชาสัมพันธ์</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">คำถามที่พบบ่อย</a>&nbsp;&nbsp;
			</nav>


  </div>
</div>
</section>
</footer>



</main>
 
{% endblock %}

