	{% extends 'layout/base.twig' %}

	{% block stylesheet %}
	<link rel="stylesheet" href="/assets/home.css">
	{% endblock %}
	{% block content %}

<main>
	
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item">
					<!--ปกติต้องใส่ไซส์แต่ตัว Bulmaจะคำนวนให้ว่าควรใช้คอลัมเท่าไหร่ แต่ถ้าอยากได้ไม่เท่ากันให้ใส่ตัวเลขเอง-->
						<h1></h1>
					</div>
				</div>
			</div>
	</section>

		<section class="section we-present">
			<div class="container">
				<div class="columns">
				
		<body>
  			<section class="section">
    			<div class="container">
      			<h1 class="title">NEWS</h1>
    			</div>
    			<br>
  		</body>

				<div class="columns is-multiline">
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/gp2.png" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							Google โร่ชี้แจง Pixel 2 ไม่ได้ตัดพอร์ตหูฟังทิ้ง แค่ย้ายไปอยู่ USB-C ต่างหาก!
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							02/10/2017
		 						</h4>
		 						<p>
                                    By Saedthawit
		 						</p>

							</div>
						</div>
					</a>


					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/mario.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							นักวิเคราะห์ KGI ชี้! iPhone X จำหน่ายล่าช้า จะทำให้เกิด “Super Cycle” ในปี 2018
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							03/10/2017
		 						</h4>
		 						<p>
                                    By Jaturong
		 						</p>
							</div>
						</div>
					</a>

								
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/inew.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							นักวิเคราะห์ KGI ชี้! iPhone X จำหน่ายล่าช้า จะทำให้เกิด “Super Cycle” ในปี 2018
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							04/10/2017
		 						</h4>
		 						<p>
                                    By Manus
		 						</p>
							</div>
						</div>
					</a>


					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/xbox.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							เปิดความลับ XboxOne X ที่ภายในตัวเครื่องจะมี ภาพ Master chief ขี่แมงป่อง !!
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							06/10/2017
		 						</h4>
		 						<p>
                                   By Pubead
		 						</p>
							</div>
						</div>
					</a>

					
						<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/switch.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 						แรงมาก Stardew Valley ขึ้นอันดับ 1 ในร้านค้าออนไลน์บน Nintendo Switch
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							12/10/2017
		 						</h4>
		 						<p>
                                    By Metthaphon
		 						</p>
	
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/ear.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 						
								ล่ามมีหนาว! Google เปิดตัว Pixel Buds หูฟังไร้สายเขย่าโลกแปลภาษาได้แบบเรียลไทม์

		 						<h4 class="subtitle is-6">
		 							13/10/2017
		 						</h4>
		 						<p>
                                    By Panjarat
		 						</p>
					
							</div>
						</div>
					</a>
					<div class="column has-text-right">
						<a href="#">Read All</a>
					</div>
		<body>
  				<section class="section">
    			<div class="container">
      			<h1 class="title">KNOWLEDGE</h1>
    			</div>
    			<br>
  		</body>
					<div class="columns is-multiline">
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/windows10.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 						Windows 10 - วิธีรีเซ็ตระบบและเก็บไฟล์ส่วนตัวไว้
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							01/10/2017
		 						</h4>
		 						<p>
                                    By Songpol
		 						</p>

							</div>
						</div>
					</a>


					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/windows10.2.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							Windows 10 - วิธีการกู้คืนระบบ ตั้งค่าเริ่มต้นโรงงาน
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							02/10/2017
		 						</h4>
		 						<p>
                                 	By Wongsapat
		 						</p>
		
							</div>
						</div>
					</a>

								
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/windows10.3.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							10 เทคนิคที่จะทำให้ Windows 10 ทำงานได้เร็วขึ้น
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							03/10/2017
		 						</h4>
		 						<p>
                                    By Norgate
		 						</p>
							</div>
						</div>
					</a>


					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/ios.png" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							วิธี Backup และ Restore เป็น iOS 11 ผ่านทาง iTunes
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							05/10/2017
		 						</h4>
		 						<p>
                                   By Anuwat
		 						</p>

							</div>
						</div>
					</a>
					
						<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/you.png" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							เทคนิคโหลด Video จาก YouTube ง่ายเกินคาด อีกวิธีหนึ่ง
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							09/10/2017
		 						</h4>
		 						<p>
                                   By Suppawit
		 						</p>

							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/pho.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							วิธีการใช้ Photoshop ทำขอบภาพให้เบลอครั้งละหลายภาพ
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							12/10/2017
		 						</h4>
		 						<p>
                                  By Thitipong
		 						</p>
							</div>
						</div>
					</a>
					<div class="column has-text-right">
						<a href="#">Read All</a>
					</div>
		</div>
			</div>

				</div>
			</div>
		</section>
		</section>
		 </a>
<section class="section">
          <div class="container">
            <h1 class="title">WEBBOARD</h1>
          </div>
          <br>
		  <center>
     <table class="table">
  <thead>
    <tr>
      <th><abbr title="#"></abbr></th>
      <th>ชื่อกระทู้</th>
      <th><abbr title="#"></abbr></th>
      <th><abbr title="#"></abbr></th>
      <th><abbr title="#"></abbr></th>
      <th><abbr title="#"></abbr></th>
      <th><abbr title="#"></abbr></th>

      <th><abbr title="#"></abbr></th>
      <th><abbr title="#"></abbr></th>


      <th><abbr title="#"></abbr></th>
      <th>เจ้าของกระทู้</th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <tr>
      
      <th>1</th>
      <td><a href="#" title="อยากได้สเปคคอม สำหรับตัดต่อ ">อยากได้สเปคคอม สำหรับตัดต่อ</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>โดย Norgate_Jack</td>
    </tr>
    <tr>
      <th>2</th>
      <td><a href="#" title="สอนลงวิโดว หน่อยครับ">สอนลงวินโดว หน่อยครับ</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>โดย Bas_Maus</td>
    </tr>
    <tr class="is-selected">
      <th>3</th>
      <td><a href="#" title="อยากได้ร้านประกอบคอมดีๆ ซักที่อ่าครับ">อยากได้ร้านประกอบคอมดีๆ ซักที่อ่าครับ</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>โดย Iceblize</td>
    </tr>
    <tr>
      <th>4</th>
      <td><a href="#" title="อยากเขียนเว็บเป็น ต้องเริ่มจากอเไรครับ">อยากเขียนเว็บเป็น ต้องเริ่มจากอเไรครับ</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>โดย Torakung</td>
    </tr>
    <tr>
      <th>5</th>
      <td><a href="#" title="ตอนนี้คอมพังอยากได้ตังค์อ่าครับ ไม่มีตังค์ซ่อมคอม">ตอนนี้คอมพังอยากได้ตังค์อ่าครับ ไม่มีตังค์ซ่อมคอม</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>โดย HTZZ</td>
    </tr>
<tr>
      
  </tbody>
</table>
</center>
		 
	</main>


	<footer class="footer is-paddingless">
  	<div class="container">
    <div class="content has-text-centered">
   <br>
        <strong>WhatIT</strong> by <a href="http://jgthms.com">WIT Corporation.</a>.
        <br>
         Powered by Samsang Corporation.
        <br>
        Contact Us on
       <nav class="navbar-tabs is-paddingless">
       	<br>
       		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
       		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<figure class="image is-32x32">
				<a href="facebook" class="face.png">
			<img src="assets/images/home/Whatit/face.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="instagram" class="ig.png">
			<img src="assets/images/home/Whatit/ig.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="twiiter" class="twit.png">
			<img src="assets/images/home/Whatit/twit.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="www" class="www.png">
			<img src="assets/images/home/Whatit/www.png">
				</a>
			</figure>
			
			</nav>
  
    </div>


   
    ศูนย์ช่วยเหลือ
    <br>
    <br>
     <nav class="navbar-tabs">
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">ติดต่อเรา</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">เกี่ยวกับเรา</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">นโยบายความเป็นส่วนตัว</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">ข่าวประชาสัมพันธ์</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">คำถามที่พบบ่อย</a>&nbsp;&nbsp;
			</nav>


  </div>
</div>
</section>
</footer>

{% endblock %}

	