{% extends 'layout/base.twig'%}

{% block stylesheet %}
 <link rel="stylesheet" href="/static/assets/home.css">
{% endblock %}

{% block content %}
<main>
		<!--ถือเนื้อหาของเว็บไซต์-->
		

		<section class="section we-present">
			<div class="container">
				<div class="columns">
		
  				<section class="section">
    			<div class="container">
      			<h1 class="title">KNOWLEDGE</h1>
    			</div>
    			<br>
  		</body>
					<div class="columns is-multiline">
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/windows10.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 						Windows 10 - วิธีรีเซ็ตระบบและเก็บไฟล์ส่วนตัวไว้
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							01/10/2017
		 						</h4>
		 						<p>
                                    By Songpol
		 						</p>

							</div>
						</div>
					</a>


					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/windows10.2.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							Windows 10 - วิธีการกู้คืนระบบ ตั้งค่าเริ่มต้นโรงงาน
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							02/10/2017
		 						</h4>
		 						<p>
                                 	By Wongsapat
		 						</p>
		
							</div>
						</div>
					</a>

								
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/windows10.3.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							10 เทคนิคที่จะทำให้ Windows 10 ทำงานได้เร็วขึ้น
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							03/10/2017
		 						</h4>
		 						<p>
                                    By Norgate
		 						</p>
							</div>
						</div>
					</a>


					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/ios.png" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							วิธี Backup และ Restore เป็น iOS 11 ผ่านทาง iTunes
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							05/10/2017
		 						</h4>
		 						<p>
                                   By Anuwat
		 						</p>

							</div>
						</div>
					</a>
					
						<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/you.png" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							เทคนิคโหลด Video จาก YouTube ง่ายเกินคาด อีกวิธีหนึ่ง
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							09/10/2017
		 						</h4>
		 						<p>
                                   By Suppawit
		 						</p>

							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/pho.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							วิธีการใช้ Photoshop ทำขอบภาพให้เบลอครั้งละหลายภาพ
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							12/10/2017
		 						</h4>
		 						<p>
                                  By Thitipong
		 						</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/hotmail.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							คำแนะนำในการกู้บัญชี Hotmail คืน
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							12/10/2017
		 						</h4>
		 						<p>
                                  By Thitirat
		 						</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/format.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							Format Factory Version 2.45
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							12/10/2017
		 						</h4>
		 						<p>
                                  By Thitipong
		 						</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third"><!--is-one-third คือ 1 ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/Whatit/gps.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h3 class="title is-spaced is-4">
		 							ความรู้เรื่อง GPS
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							12/10/2017
		 						</h4>
		 						<p>
                                  By Thitipong
		 						</p>
							</div>
						</div>
					</a>

					
		</div>
			</div>

				</div>
			</div>
		</section>
		</section>
		 </a>
		 <nav class="pagination is-centered" role="navigation" aria-label="pagination">

  <a class="pagination-previous">Previous</a> 
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>
    <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 100">100</a></li>
  </ul>
</nav>
         


	</main>


	<footer class="footer is-paddingless">
  	<div class="container">
    <div class="content has-text-centered">
   <br>
        <strong>WhatIT</strong> by <a href="http://jgthms.com">WIT Corporation.</a>.
        <br>
         Powered by Samsang Corporation.
        <br>
        Contact Us on
       <nav class="navbar-tabs is-paddingless">
       	<br>
       		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
       		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<figure class="image is-32x32">
				<a href="facebook" class="face.png">
			<img src="assets/images/home/Whatit/face.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="instagram" class="ig.png">
			<img src="assets/images/home/Whatit/ig.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="twiiter" class="twit.png">
			<img src="assets/images/home/Whatit/twit.png">
				</a>
			</figure>
			<figure class="image is-32x32">
				<a href="www" class="www.png">
			<img src="assets/images/home/Whatit/www.png">
				</a>
			</figure>
			
			</nav>
  
    </div>

   
    ศูนย์ช่วยเหลือ
    <br>
    <br>
     <nav class="navbar-tabs">
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">ติดต่อเรา</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">เกี่ยวกับเรา</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">นโยบายความเป็นส่วนตัว</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">ข่าวประชาสัมพันธ์</a>&nbsp;&nbsp;|
			&nbsp;&nbsp;<a href="#">คำถามที่พบบ่อย</a>&nbsp;&nbsp;
			</nav>


  </div>
</div>
</section>
</footer>
{% endblock %}