{% extends 'layout/base.twig'%}

{% block stylesheet %}
 <link rel="stylesheet" href="/static/assets/home.css">
{% endblock %}

{% block content %}
 	<main>
    <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column has-text-left is-size-3">
              <div>NEWS</div>
            </div>
          </div>
      
          <div class="columns is-multiline">
            <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-1.png" image is-square>
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
                  ฤา Google Store Thailand จะมา? พบ “ประเทศไทย” ใน Google Store
                </h3>
                <h4 class="subtitle is-6">
                  06/10/2017
                </h4>
                <p>
                                    PKZAIT
                </p>
              </div>
              </div>
            </a>
            <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-2.png">
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
                  Google เปิดตัว Google Pixelbook : Chromebook ประสิทธิภาพสูง
                </h3>
                <h4 class="subtitle is-6">
                  05/10/2017
                </h4>
                <p>
                  PKZAIT
                </p>
              </div>
              </div>
            </a>
            <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-3.jpg">
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
                7 เดือนผ่านไปได้เวลาซื้อ Nintendo Switch หรือยัง 
                </h3>
                <h4 class="subtitle is-6">
                  04/10/2017
                </h4>
                <p>
                  WONGSAKGONE PATOMCHAIWAT
                </p>
              </div>
              </div>
            </a>
            <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-4.jpg">
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
              ไม่ต้องรีบ! ผลสำรวจชี้ iOS 11 สูบแบตกว่าเดิมถึง 60%
                </h3>
                <h4 class="subtitle is-6">
                                    NATTAPHAN SONGVIROON
                </h4>
                <p>
                  26/09/2017
                </p>
              </div>
              </div>
            </a>
            <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-5.jpg">
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
                  BMW วางแผนสุดล้ำนำเทรนด์สตาร์ทรถผ่านแอปฯ แทนกุญแจรถ
                </h3>
                <h4 class="subtitle is-6">
                  NATTAPHAN SONGVIROON
                </h4>
                <p>
                  17/09/2017
                </p>
              </div>
              </div>
            </a>
            <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-6.png" alt="image-1">
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
                  Microsoft ประกาศเปิดตัว Microsoft Office 2019 ในปีหน้า
                </h3>
                <h4 class="subtitle is-6">
                  PKZAIT
                </h4>
                <p>
                  28/09/2017
                </p>
              </div>
              </div>
              <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-7.jpg" alt="image-1">
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
                  ชาวต่างชาติคิดอย่างไรกับเทรนด์ “สมาร์ทโฟนขอบบาง” ในปัจจุบัน
                </h3>
                <h4 class="subtitle is-6">
                  WATCHARAKUL CHERN
                </h4>
                <p>
                  03/10/2017
                </p>
              </div>
              </div>
              <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-8.jpg" alt="image-1">
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
                  ผมรู้คุณก็เป็น แม้แต่ชาวต่างชาติยังเรียก iPhone X ว่า “ไอโฟนเอ็กซ์” !!
                </h3>
                <h4 class="subtitle is-6">
                                    WATCHARAKUL CHERN
                </h4>
                <p>
                  03/10/2017
                </p>
              </div>
              </div>
              <a href="#" class="column is-one-third">
              <div class="card">
                <figure class="image is-3by2">
                  <img src="assets/images/new/P-9.jpg" alt="image-1">
                </figure>
              
              <div class="card-content">
                <h3 class="title is-spaced is-4">
                  Fate/Grand Order เปิดให้บริการครบทั้ง iOS และ Android
                </h3>
                <h4 class="subtitle is-6">
                  ヨーソロー
                </h4>
                <p>
                  29/09/3017
                </p>
              </div>
              </div>
            </a>

			<nav class="pagination is-centered" role="navigation" aria-label="pagination">

  <a class="pagination-previous">Previous</a>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>
    <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 100">100</a></li>
  </ul>
</nav>
<section>
</section>
<footer class="footer is-paddingless">
    <div class="container">
    <div class="content has-text-centered">
   <br>
        <strong>WhatIT</strong> by <a href="http://jgthms.com">WIT Corporation.</a>.
        <br>
         Powered by Samsang Corporation.
        <br>
        Contact Us on
       <nav class="navbar-tabs is-paddingless">
        <br>
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <figure class="image is-32x32">
        <a href="facebook" class="face.png">
      <img src="assets/icon/face.png">
        </a>
      </figure>
      <figure class="image is-32x32">
        <a href="instagram" class="ig.png">
      <img src="assets/icon/ig.png">
        </a>
      </figure>
      <figure class="image is-32x32">
        <a href="twiiter" class="twit.png">
      <img src="assets/icon/twi.png">
        </a>
      </figure>
      <figure class="image is-32x32">
        <a href="www" class="www.png">
      <img src="assets/icon/www.png">
        </a>
      </figure>
      
      </nav>
  
    </div>

   
    ศูนย์ช่วยเหลือ
    <br>
    <br>
     <nav class="navbar-tabs">
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">ติดต่อเรา</a>&nbsp;&nbsp;|
      &nbsp;&nbsp;<a href="#">เกี่ยวกับเรา</a>&nbsp;&nbsp;|
      &nbsp;&nbsp;<a href="#">นโยบายความเป็นส่วนตัว</a>&nbsp;&nbsp;|
      &nbsp;&nbsp;<a href="#">ข่าวประชาสัมพันธ์</a>&nbsp;&nbsp;|
      &nbsp;&nbsp;<a href="#">คำถามที่พบบ่อย</a>&nbsp;&nbsp;
      </nav>


  </div>
</div>
</section>
</footer>

 	</main>
{% endblock %}
