{% extends 'layout/base.twig'%}

{% block stylesheet %}
 <link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}
 	<main>
			<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>
    <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 100">100</a></li>
  </ul>
</nav>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>WhatIT</strong> by <a href="http://jgthms.com">WIT Corporation.</a>.
        <br>
         Powered by Samsang Corporation.
        <br>
        Contact Us on
        <br>
       Facebook : <a href="#">WhatIT</a>
       <br>
       Twitter  : <a href="#">@WhatIT</a>
       <br>
       Instagram: <a href="#">@WhatIT</a>
       <br>
       Email  : <a href="#">support@whatit.com</a>
      </p>
    </div>
    ศูนย์ช่วยเหลือ
    <br>
    <br>
     <nav class="navbar-tabs">
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">ติดต่อเรา</a>&nbsp;&nbsp;|
      &nbsp;&nbsp;<a href="#">เกี่ยวกับเรา</a>&nbsp;&nbsp;|
      &nbsp;&nbsp;<a href="#">นโยบายความเป็นส่วนตัว</a>&nbsp;&nbsp;|
      &nbsp;&nbsp;<a href="#">ข่าวประชาสัมพันธ์</a>&nbsp;&nbsp;|
      &nbsp;&nbsp;<a href="#">คำถามที่พบบ่อย</a>&nbsp;&nbsp;
      </nav>
  </div>
</div>
</section>
</footer>
 	</main>
{% endblock %}
