header .navbar-tabs {
  justify-content: center; 
}

.NEW-TOPIC {
	margin-bottom: 0 !important;
}

.new .new-item {
	font-size: 100px;
}
.new .new-item h1{
	font-color: #184169;
}

p {
    font-family: "Uni Sans Thin", Times, serif;
}


