.highlight {
	margin-bottom: 0 !important;
}

.highlight .highlight-item{
  height: 416px;
 
  color:#6495ED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight .highlight-item h1 {
	font-size: 100px;
}

.thumbnail {
	border-top: 0.1rem solid #6495ED;
}

.thumbnail .thumbnail-item + .thumbnail-item{
	border-left: .1rem solid #6495ED;
}

.thumbnail .thumbnail-item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #6495ED;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
}




