<!DOCTYPE html>
<html lang="en"> <!--set default language-->
<head>
	<meta charset="UTF-8">
	<title>WHAT IT</title> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">

    <link rel="stylesheet" href="/assets/main.css">
	{% block stylesheet %}{% endblock %} 
</head>
<body>

	{% include 'layout/header.twig' ignore missing %}
	{% include 'layout/newscontent/new1.twig' ignore missing %}
	{% include 'layout/newscontent/new2.twig' ignore missing %}
	{% include 'layout/newscontent/new3.twig' ignore missing %}
	{% include 'layout/newscontent/new4.twig' ignore missing %}
	{% include 'layout/newscontent/new5.twig' ignore missing %}
	{% include 'layout/newscontent/new6.twig' ignore missing %}
	{% include 'layout/newscontent/new7.twig' ignore missing %}
	{% include 'layout/newscontent/new8.twig' ignore missing %}
	{% include 'layout/newscontent/new9.twig' ignore missing %}

{% block content %}
{% endblock %}

</body>
</html>