<header>
	<section class="hero is-dark is-small">


  <div class="hero-body">
    <div class="container has-text-left navbar-menu">
    
     <div class="has-text-left">
			<a href="home" class="logo2.png">
				<br>
			&nbsp;&nbsp;<img src="assets/images/home/Whatit/logo2.png" alt="" width="145" height="auto">
		</a>
    </div>

 <p class="indent"></p>
	<div class="field is-grouped">
  			<p class="control is-expanded">
  			<br>
			<br>
    		<input class="input" type="text" placeholder="">
  			</p>
  			<p class="control">
  			<br>
			<br>
    		<a class="button is-light">Search</a>
    		</a>
  			</p>
	</div>
    </div>
   
    


  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a>NEWS</a>
          </li>
          <li>
            <a>KNOWLEDGE</a>
          </li>
          <li>
            <a>WEBBOARD</a>
          </li>
          <li>
            <a>ABOUT US</a>
          </li>
          <li>
            <a>SIGN IN</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
  		
  
</div>
 	</header>