<header>
	<div class="has-text-centered is-size-1">
		WHAT IT
	</div>
	<nav class="navbar-tabs">
		<a href="#" class="navbar-item">NEWS</a>
		<a href="#" class="navbar-item">KNOWLEDGE</a>
		<a href="#" class="navbar-item">WEBBOARD</a>
		<a href="#" class="navbar-item">ABOUT US</a>
		<a href="#" class="navbar-item">SIGN IN</a>
		<div class="field is-grouped">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="">
  </p>
  <p class="control">
    <a class="button is-danger">
      Search
    </a>
  </p>
</div>
 	</header>