<header>
	<div class="has-text-centered is-size-1">
		WHAT IT
	</div>
<div class="thumbnail">
				<div class="columns is-marginless">
				{% for item in thumbnail %}
					<a href="#" class="column thumbnail-item" style="background-image:
					url({{ item.url }});">
					{{ item.title }}
					</a>
					{% endfor %}
				</div>
			</div>
	<nav class="navbar-tabs is-size-5">
		<a href="#" class="navbar-item">NEWS</a>
		<a href="#" class="navbar-item">KNOWLEDGE</a>
		<a href="#" class="navbar-item">WEBBOARD</a>
		<a href="#" class="navbar-item">ABOUT US</a>
		<a href="#" class="navbar-item">SIGN IN</a>

        <div class="field is-grouped">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="">
  </p>
  <p class="control">
    <a class="button is-danger">
      Search
    </a>
  </p>
  
</div>
 	</header>