<header>
	<section class="hero is-dark is-small">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="field is-grouped">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="">
  </p>
  <p class="control">
    <a class="button is-danger">
      Search
    </a>
  </p>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-left">
      <p class="title">
        WHAT IT
      </p>

    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a>NEWS</a>
          </li>
          <li>
            <a>KNOWLEDGE</a>
          </li>
          <li>
            <a>WEBBOARD</a>
          </li>
          <li>
            <a>ABOUT US</a>
          </li>
          <li>
            <a>SIGN IN</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
  		
  
</div>
 	</header>
