<head>
  <style>p.indent{ padding-left: 14em }</style>
  <meta charset="UTF-8">
  <title>WhatIT</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <!-- css ของ bulma เป็นfrontend อย่างหนึ่ง เพื่อเว็บ Mobilefirst ถ้าใช้ได้แล้วตัวฟอนต์หน้าตาจะเปลี่ยนไป-->
  <link rel="stylesheet" href="/assets/home.css">
  <!--ลิ้งกับหน้า home.css ทำให้แถบmenubarไปอยู่ตรงกลาง -->
</head>

<header>
	<nav class="navbar-tabs">
      <div class="columns">
        <div class="column">
        <div class="has-text-left">
      <a href="/home" class="logo2.png">
        <br>
      &nbsp;&nbsp;<img src="assets/images/home/Whatit/logo2.png" alt="" width="145" height="auto">
    </a>
      </div>
      </div>
      </div>

      <p class="indent"></p>
        <a href="/news" class="navbar-item">NEWS</a>
      &emsp;&nbsp;<a href="/knowledge" class="navbar-item">KNOWLEDGE</a>
      &emsp;&nbsp;<a href="/webboard" class="navbar-item">WEBBOARD</a>
      &emsp;&nbsp;<a href="/aboutus" class="navbar-item">ABOUT US</a>
      &emsp;&nbsp;<a href="/contactus" class="navbar-item">CONTACT US</a>
      <p class="indent"></p>


  




  <div class="field is-grouped">
        <p class="control is-expanded">
        <br>
      <br>
        <input class="input" type="text" placeholder="">
        </p>
        <p class="control">
        <br>
      <br>
        <a class="button is-light">Search</a>
        </a>
        </p>
    </div>
  </nav>
 	</header>