<section>
 			<section class="section">
 				<div class="container">
 					<div class="columns">
	 					<div class="column has-text-left is-size-3">
	 						<div>NEWS</div>
	 					</div>
 					</div>
 			
 					<div class="columns is-multiline">
		 				<a href="#" class="column is-one-third">
		 					<div class="card">
		 						<figure class="image is-3by2">
		 							<img src="assets/images/new/P-1.png" image is-square>
		 						</figure>
		 					
		 					<div class="card-content">
		 						<h3 class="title is-spaced is-4">
		 							ฤา Google Store Thailand จะมา? พบ “ประเทศไทย” ใน Google Store
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							06/10/2017
		 						</h4>
		 						<p>
                                    PKZAIT
		 						</p>
		 					</div>
		 					</div>
		 				</a>