<a href="#" class="column is-one-third">
		 					<div class="card">
		 						<figure class="image is-3by2">
		 							<img src="assets/images/new/P-2.png">
		 						</figure>
		 					
		 					<div class="card-content">
		 						<h3 class="title is-spaced is-4">
		 							Google เปิดตัว Google Pixelbook : Chromebook ประสิทธิภาพสูง
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							05/10/2017
		 						</h4>
		 						<p>
		 							PKZAIT
		 						</p>
		 					</div>
		 					</div>
		 				</a>