<a href="#" class="column is-one-third">
		 					<div class="card">
		 						<figure class="image is-3by2">
		 							<img src="assets/images/new/P-3.jpg">
		 						</figure>
		 					
		 					<div class="card-content">
		 						<h3 class="title is-spaced is-4">
		 						7 เดือนผ่านไปได้เวลาซื้อ Nintendo Switch หรือยัง 
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							04/10/2017
		 						</h4>
		 						<p>
		 							WONGSAKGONE PATOMCHAIWAT
		 						</p>
		 					</div>
		 					</div>
		 				</a>