<a href="#" class="column is-one-third">
		 					<div class="card">
		 						<figure class="image is-3by2">
		 							<img src="assets/images/new/P-4.jpg">
		 						</figure>
		 					
		 					<div class="card-content">
		 						<h3 class="title is-spaced is-4">
		 					ไม่ต้องรีบ! ผลสำรวจชี้ iOS 11 สูบแบตกว่าเดิมถึง 60%
		 						</h3>
		 						<h4 class="subtitle is-6">
                                    NATTAPHAN SONGVIROON
		 						</h4>
		 						<p>
		 							26/09/2017
		 						</p>
		 					</div>
		 					</div>
		 				</a>