<a href="#" class="column is-one-third">
		 					<div class="card">
		 						<figure class="image is-3by2">
		 							<img src="assets/images/new/P-6.png" alt="image-1">
		 						</figure>
		 					
		 					<div class="card-content">
		 						<h3 class="title is-spaced is-4">
		 							Microsoft ประกาศเปิดตัว Microsoft Office 2019 ในปีหน้า
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							PKZAIT
		 						</h4>
		 						<p>
		 							28/09/2017
		 						</p>
		 					</div>
		 					</div>