<a href="#" class="column is-one-third">
		 					<div class="card">
		 						<figure class="image is-3by2">
		 							<img src="assets/images/new/P-9.jpg" alt="image-1">
		 						</figure>
		 					
		 					<div class="card-content">
		 						<h3 class="title is-spaced is-4">
		 							Fate/Grand Order เปิดให้บริการครบทั้ง iOS และ Android
		 						</h3>
		 						<h4 class="subtitle is-6">
		 							ヨーソロー
		 						</h4>
		 						<p>
		 							29/09/3017
		 						</p>
		 					</div>
		 					</div>
		 				</a>